ta
schedule
ccxt
pandas
numpy
matplotlib
yfinance
termcolor
cryptography
requests
certifi
aiohttp
yarl
setuptools
pandas-ta
python-dateutil
python-binance
websocket-client
websocket
binance
mplfinance
seaborn
xlwt
xlrd
xlutils
backtrader
pytelegrambotapi